body, html {
    margin:0px;
}
body {
    overflow: auto;
    background-image: url("images/headerBackground.jpg");
    background-repeat:  no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Tahoma, 'Segoe UI', Calibri, Arial, sans-serif;
    text-align: center;
    background-color: black;
}
header {
    margin-bottom: 1em;
}
header.title{
    margin: 56.17283950617284% 0 0 0;
}
header.title svg {
    fill: white;
    height: 300px;
    width:100%;
    display:block;
}
header h1, header h2 {
    margin:0;
}

main {
    background-color: white;
}

section {
    border-top: 10em solid white;
}

section, section#party .profile {
    padding: 10%;
}

section, #party .profile {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: inline-block;
    background-color: rgba(125, 165, 256, 0.25);
    color: black;
    fill: black;
    position: fixed;
    text-align: left;
    left:0;
    top:0;
    overflow: hidden;
    width: 0;
    height: 4em;
    white-space: nowrap;
    transition: width 0.25s, height 0.25s 0.25s, background-color 0.25s;
    padding-left:4em;
    padding-top:0.5em;
}
nav.expanded{
    width: 100vw;
    height: 100vh;
    background-color: rgba(125, 165, 256, 0.95);
}
nav:focus {
    outline: none;
}
nav svg {
    width: 4em;
    height: 4em;
    position:absolute;
    top:0;
    left:0;
    transition: transform 0.15s;
}
nav.expanded svg {
    transform: rotate(90deg);
}
nav header {
    font-size: 250%;
}
ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
nav ul li:hover {
    background-color: rgba(256, 256, 256, 0.25);
}
nav a {
    color: black;
    font-size: 150%;
    text-decoration: none;
    line-height: 200%;
    display:block;
}
footer {
    background-color: white;
}
time {
    font-size: 100%;
}

ul.schedule, ul.accommodations, ul.dresscode {
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
}

ul.schedule li, ul.accommodations li, ul.dresscode li{
    display: flex;
    justify-content: space-between;
    overflow:hidden;
}
ul.schedule li span:first-child, ul.accommodations li span:first-child, ul.dresscode li span:first-child {
    white-space: nowrap;
    overflow: hidden;
}
ul.schedule li span:first-child::after, ul.accommodations li span:first-child::after, ul.dresscode li span:first-child::after {
    content:":";
}
ul.schedule li span:nth-child(2), ul.accommodations li span:nth-child(2), ul.dresscode li span:nth-child(2){
    overflow:hidden;
}

.notes {
    font-style: italic;
}
.notes::before {
    content: "Note: ";
}

iframe.map {
    box-sizing: border-box;
    height:400px;
    width:100%;
    display:block;
    border: 1em solid white;
}

#accommodations iframe.map {
    height: 100px;
}

section#party, section#party div {
    padding: 0;
}

section#party {
    padding-top:10%;
}

#party .profile::before {
    content:" ";
    background-size: contain;
    width:5em;
    height:5em;
    float:left;
} 

/* profile pics */
#carolyn::before {
    background-image:url("images/carolProfile.jpg");
}

#alicia::before {
    background-image:url("images/aliceProfile.jpg");
}

#meagan::before {
    background-image:url("images/meaganProfile.png");
}

#kiyoshi::before {
    background-image:url("images/kiyoProfile.jpg");
}

#fraser::before {
    background-image:url("images/fraserProfile.jpg");
}

#trevor::before {
    background-image:url("images/trevorProfile.jpg");
}

#jaroslaw::before {
    background-image:url("images/jaroProfile.jpg");
}

/* parallax backgrounds */
#saturday {
    background-image: url("images/saturdayBackground.jpg");
}

#sunday {
    background-image: url("images/sundayBackground.jpg");
}

#accommodations {
    background-image: url("images/accommodationsBackground.jpg");
}

#carolyn {
    background-image: url("images/carolBackground.jpg");
}

#alicia {
    background-image: url("images/aliceBackground.jpg");
}

#meagan {
    background-image: url("images/meaganBackground.jpg");
}

#kiyoshi {
    background-image: url("images/kiyoBackground.jpg");
}

#fraser {
    background-image: url("images/fraserBackground.jpg");
}

#trevor {
    background-image: url("images/trevorBackground.jpg");
}

#jaroslaw {
    background-image: url("images/jaroBackground.jpg");
}


/* mouse input devices */
@media (pointer: fine) {
    nav {
        font-size: 100%;
    }
    nav:hover, nav.expanded {
        width: 15em;
        height: 100vh;
        background-color: rgba(125, 165, 256, 0.85);
    }
    nav.expanded svg, nav:hover svg {
        transform: rotate(90deg);
    }
}

/* small screens */
@media(min-width: 35em) {
    header.title{
        font-size: 150%;
    }

    #party .profile::before {
        width:8em;
        height:8em;
    } 
}

/* medium screens */
@media(min-width: 50em) {
    header.title{
        font-size: 200%;
    }
    section, section#party .profile {
        padding: 3em 20%;
    }
}

/* large screens */
@media(min-width: 100em) {
    section, section#party .profile {
        padding: 3em 30%;
    }
}